[video-slides]{
    font-size: 12px;
    @media only screen and (min-width: 501px){
        font-size: 15px;
    }
    @media only screen and (min-width: 768px){
        font-size: 18px;
    }
    .scroll-control-container{
        width:100vw;
        height:150vh;
        opacity: 0.6;
        background: #ffffff;
        @media only screen and (min-width: 500px){
            height:175vh;
        }
        @media only screen and (min-width: 768px){
            height:200vh;
        }
        
    }
    .scroll-slide-start-text{
        position: absolute;
        // opacity:0;
        bottom:6.5em;
        transition: opacity 2s ease-in-out;
        // background: rgba(0, 0, 0, 0.2);
        font-family: 'gibsonRegular';
        margin: 0 auto;
        text-align: center;
        // height:2em;
        width:100%;
        color:white;
        font-size: 1.5em;
    }
    .scroll-slide-start-button{
        position: absolute;
        // background: rgba(100, 0, 0, 0.7);
        font-family: 'gibsonRegular';
        margin: 0 auto;
        text-align: center;
        // height:2em;
        width:30%;
        bottom:4em;
        color:white;
        font-size: 1.5em;
        left:50%;
        transform: translate(-50%, 0);
        cursor:pointer;
        svg{
            width:80%;
            @media only screen and (min-width: 500px){
                width:60%;
            }
            @media only screen and (min-width: 768px){
                width:40%;
            }
        }
        // line-height: 2em;
    }
    .scroll-controller{
        width:98vw;
        height:10vh;
    }
    .hidden-button{
        position: absolute;
        top:100px;
        left:50px;
    }
    
    
}